@layout BHWLayout
@page "/bhw/profiling-form"

<div class="container" style="margin-top: 90px;">
    <form>
        <div class="row">
            <div class="col">
                <h1 class="text-center"><strong>Resident Form</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3"><label class="form-label">First Name</label><input @bind="firstName" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-4"><label class="form-label">Middle Name</label><input @bind="middleName" class=" form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-3"><label class="form-label">Last Name</label><input @bind="lastName" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col"><label class="form-label">Suffix</label><input @bind="suffix" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Date of Birth</label><input @bind="dob" class="form-control" type="text" placeholder="mm/dd/yyyy" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Age</label><input @bind="age" class="form-control" type="text" placeholder="age" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Gender</label>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3" name="gender"><label class="form-check-label" for="formCheck-3">Male</label></div>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-4" name="gender"><label class="form-check-label" for="formCheck-4">Female</label></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Father's Name</label><input @bind="fathers_name" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Mother's Name</label><input @bind="mothers_name" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Head of Family</label><input @bind="head" class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Total Number of Family</label><input @bind="num_of_fam" class="form-control" type="text" placeholder="Ex. College" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Purok</label><input @bind="purok" class="form-control" type="text" placeholder="Ex. 1A" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">PWD?</label>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" name="pwd"><label class="form-check-label" for="formCheck-1">Yes</label></div>

                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="pwd"><label class="form-check-label" for="formCheck-1">No</label></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Prenatal?</label>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3" name="prenatal"><label class="form-check-label" for="formCheck-5">Yes</label></div>

                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-4" name="prenatal"><label class="form-check-label" for="formCheck-1">No</label></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Type of illness</label><input @bind="typeOfIllness" class="form-control" type="text" placeholder="Ex. Flu" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Immunization</label>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">1st Dose</label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">2nd Dose</label></div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">3rd Dose</label></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Weight</label><input @bind="weight" class="form-control" type="text" placeholder="Ex. 100kg" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Height</label><input @bind="height" class="form-control" type="text" placeholder="Ex. 5'8" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Temperature</label><input @bind="temperature" class="form-control" type="text" placeholder="Ex. 36 degrees" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Blood Pressure</label><input @bind="bloodPressure" class="form-control" type="text" placeholder="Ex. 1A" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Medicine</label><input @bind="medicine" class="form-control" type="text" placeholder="Ex. Medicine Name" required=""></div>
        </div>
    </form><button class="btn btn-success" type="button" style="margin-top: 20px;margin-bottom: 40px;margin-right: 22px;">ADD</button><button class="btn btn-danger" type="button" style="margin-top: 20px;margin-bottom: 40px;">Cancel</button>
</div>

@code {
    String firstName = "";
    String middleName = "";
    String lastName = "";
    String suffix = "";
    DateTime dob;
    int age = 0;
    String gender = "";
    String fathers_name = "";
    String mothers_name = "";
    String head = "";
    int num_of_fam = 0;
    String purok = "";
    bool isPWD = false;
    bool isPrenate = false;
    List<String> Immunization = new List<String>();
    String weight = "";
    String height = "";
    String typeOfIllness = "";
    String temperature = "";
    String bloodPressure = "";
    String medicine = "";
}