@layout BHWLayout
@page "/bhw/purok"

<div class="container" style="margin-top: 70px;">
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 1A</h4>
                    <p class="card-text">NOTES</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 1A</strong></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 1B</h4>
                    <p class="card-text">NOTES</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 1B</strong></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 2</h4>
                    <p class="card-text">NOTES</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 2</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 3</h4>
                    <p class="card-text">NOTES</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 3</strong></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 4</h4>
                    <p class="card-text">NOTED</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 4</strong></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 5</h4>
                    <p class="card-text">NOTES</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 5</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 6</h4>
                    <p class="card-text">NOTES</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 6</strong></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purok 7</h4>
                    <p class="card-text">NOTES</p><button class="btn btn-primary" type="button" style="width: 100%;height: 100%;"><strong>View Purok 7</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>