@layout BHWLayout
@page "/bhw/purok"

<div class="container" style="margin-top: 70px;">
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="1A" Description="NOTES"/>
        </div>
        <div class="col">
            <PurokListCard Name="1B" Description="NOTES" />
        </div>
        <div class="col">
            <PurokListCard Name="2" Description="NOTES" />

        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="3" Description="NOTES" />

        </div>
        <div class="col">
            <div class="card">
                <PurokListCard Name="4" Description="NOTES" />
            </div>
        </div>
        <div class="col">
            <PurokListCard Name="5" Description="NOTES" />
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="6" Description="NOTES" />
        </div>
        <div class="col">
            <PurokListCard Name="7" Description="NOTES" />
        </div>
    </div>
</div>