@page "/bhw/resident/{id}"
@layout BHWLayout

<div class="container" style="margin-top: 86px;">
    <h1 class="text-center">User Details</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center"><img class="rounded-circle img-fluid" width="300" height="80" src="../assets/img/avatar-dhg.png"></div>
        <div class="col">
            <div class="row">
                <div class="col text-end"><button class="btn btn-primary" type="button"><i class="fa fa-edit"></i></button></div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;"><strong>First Name</strong>: FirstName&nbsp;</p>
                    <p style="font-size: 26px;"><strong>Last Name</strong>: LastName</p>
                    <p style="font-size: 26px;"><strong>Middle Name</strong>: MiddleName</p>
                    <p style="font-size: 26px;"><strong>Age</strong>: 10</p>
                    <p style="font-size: 26px;"><strong>Date of Birth</strong>: 10/10/2011</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Gender:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">Male</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Civil Status:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">Single</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Religion:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">Catholic</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Occupation:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">Unemployed</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Highest Educational Attainment:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">College</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Household Number:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">#20</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Purok:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">1A</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;font-weight: bold;">Status:</p>
                </div>
                <div class="col">
                    <p style="font-size: 26px;">???</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 36px;margin-top: 34px;">
    <h1 class="text-center">User Health Details</h1>
</div>
<div class="container" style="margin-bottom: 52px;">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Status Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Type of Illness(If Any)</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>50kg</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>186cm</td>
                </tr>
                <tr>
                    <td>Temperature</td>
                    <td>35c</td>
                </tr>
                <tr>
                    <td>Blood Pressure</td>
                    <td>60/240</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public int? ID { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Fetching user Data and Health status data with the user ID of {ID}");
    }
}