/Baranggay Health Records/bin
/Baranggay Health Records/obj
/BHRDatabase/BHRDatabase/bin
/BHRDatabase/BHRDatabase/obj
/BHRDatabase/BHRDatabase/BHRDatabase.dbmdl
/BHRDatabase/BHRDatabase/BHRDatabase.jfm