@page "/"
@inject NavigationManager Navigation
@inject Context context

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                <!-- Your SVG code here -->
                            </svg>
                        </div>
                        <h2>Sign In</h2>
                        <div class="text-center">
                            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" @bind="email"></div>
                            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" @bind="password"></div>
                            <div class="mb-3"><button class="btn btn-primary d-block w-100" @onclick="@SignIn">Login</button></div>
                            <p class="text-muted">Forgot your password?</p>
                            @if (string.IsNullOrEmpty(errorMessage))
                            {
                                <p class="text-danger">@errorMessage</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 text-center d-md-flex mx-auto justify-content-md-center align-items-md-center">
                <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.15752-9/351149569_176634541761202_1757419244402688520_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeEHNRE3k6zKO0dM_HEsm1-SHUtKKg5X0CwdS0oqDlfQLNpi7wIfJmDjGN38ih5Nf7F1vm3Fsspp2XjeWeOclQlF&_nc_ohc=OrCwR5DjnM0AX-A0gV0&_nc_ht=scontent.fmnl17-2.fna&oh=03_AdQ8yBoWbZWuqvUsEp85zTxOPKCbZ7gEjRMecwAzEale9w&oe=65B4A8C0" height="350" widht="250" />
            </div>
        </div>
    </div>
</section>

@code {
    public String? email { get; set; }
    public String? password { get; set; }
    public String errorMessage { get; set; } = "";

    public void SignIn()
    {
        if (context.Login(email, password, Navigation))
        {
            errorMessage = string.Empty;
        }
        else
        {
            errorMessage = "Invalid email or password";
        }
    }
}
