@page "/secretary/household/details/{ID}"
@using Baranggay_Health_Records.Shared
@layout SecretaryLayout

<div class="container text-center" style="margin-top: 90px;margin-bottom: 10px;">
    <h1>Household Details for User @ID</h1>
</div>
<div class="container" style="margin-top: 44px;">
    <div class="row">
        <div class="col text-center"><img class="rounded-circle img-fluid" width="300" height="80" src="../assets/img/avatar-dhg.png"></div>
        <div class="col">
            <div class="row">
                <div class="col text-end"><button class="btn btn-primary" type="button"><i class="fa fa-edit"></i></button></div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 26px;"><strong>Head of The Family</strong>: Family Name&nbsp;</p>
                    <p style="font-size: 26px;"><strong>Father's Name</strong>: Family Name</p>
                    <p style="font-size: 26px;"><strong>Mother's Name</strong>: Family Name</p>
                    <p style="font-size: 26px;"><strong>Members</strong>: 10</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public int? ID { get; set; }
}
