@page "/secretary/profiling"
@layout SecretaryLayout

<div class="container">
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">Resident Form</h2>
                            <div class="my-3"><a class="btn btn-success btn-lg me-2" role="button" href="/profiling-form"><strong>Add</strong></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-cover" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
                </div>
            </div>
        </div>
    </section>
</div>