@page "/profiling-form"
@layout SecretaryLayout

<div class="container" style="margin-top: 32px;">
    <form>
        <div class="row">
            <div class="col">
                <h1 class="text-center"><strong>Resident Form</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3"><label class="form-label">First Name</label><input class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-4"><label class="form-label">Middle Name</label><input class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col-xl-3"><label class="form-label">Last Name</label><input class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
            <div class="col"><label class="form-label">Suffix</label><input class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Date of Birth</label><input class="form-control" type="text" placeholder="mm/dd/yyyy" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Age</label><input class="form-control" type="text" placeholder="age" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0">
                <label class="form-label">Age</label>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" name="gender"><label class="form-check-label" for="formCheck-1">Male</label></div>
                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="gender"><label class="form-check-label" for="formCheck-2">Female</label></div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Civil Status</label><input class="form-control" type="text" placeholder="Ex. Single" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Religion</label><input class="form-control" type="text" placeholder="Ex. Catholic or Islam" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Occupation</label><input class="form-control" type="text" placeholder="Ex. Private Employee" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Father's Name</label><input class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Mother's Name</label><input class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Head of Family</label><input class="form-control" type="text" placeholder="Ex. Smith" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Educational Attainment</label><input class="form-control" type="text" placeholder="Ex. College" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Purok</label><input class="form-control" type="text" placeholder="Ex. 1A" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Status Type</label><input class="form-control" type="text" placeholder="Ex. New Born" required=""></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xl-12 offset-xl-0"><label class="form-label">Civil Status</label><input class="form-control" type="text" placeholder="Ex. Single"></div>
        </div>
    </form><button class="btn btn-success" type="button" style="margin-top: 20px;margin-bottom: 40px;margin-right: 22px;">ADD</button><button class="btn btn-danger" type="button" style="margin-top: 20px;margin-bottom: 40px;">Cancel</button>
</div>