@page "/secretary/purok-list"
@using Baranggay_Health_Records.Shared
@layout SecretaryLayout

<div class="container">
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="1A" Description="" stringurl="/secretary/purok/1A"/>
        </div>
        <div class="col">
            <PurokListCard Name="1B" Description="" stringurl="/secretary/purok/1B"/>
        </div>
        <div class="col">
            <PurokListCard Name="2" Description="" stringurl="/secretary/purok/2"/>
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="3" Description="" stringurl="/secretary/purok/3"/>
        </div>
        <div class="col">
            <PurokListCard Name="4" Description="" stringurl="/secretary/purok/4"/>
        </div>
        <div class="col">
            <PurokListCard Name="5" Description="" stringurl="/secretary/purok/5"/>
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="6" Description="" stringurl="/secretary/purok/6"/>
        </div>
        <div class="col">
            <PurokListCard Name="7" Description="" stringurl="/secretary/purok/7"/>
        </div>
    </div>
</div>