@page "/secretary/purok-list"
@using Baranggay_Health_Records.Shared
@layout SecretaryLayout

<div class="container">
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="Purok 1A" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
        <div class="col">
            <PurokListCard Name="Purok 1B" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
        <div class="col">
            <PurokListCard Name="Purok 2" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="Purok 3" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
        <div class="col">
            <PurokListCard Name="Purok 4" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
        <div class="col">
            <PurokListCard Name="Purok 5" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
    </div>
    <div class="row" style="margin-top: 28px;">
        <div class="col">
            <PurokListCard Name="Purok 6" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
        <div class="col">
            <PurokListCard Name="Purok 7" Description="Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus." />
        </div>
    </div>
</div>