@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg fixed-top bg-white clean-navbar navbar-light">
    <div class="container">
        <a class="navbar-brand logo" href="/bhw/">
            <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.15752-9/351149569_176634541761202_1757419244402688520_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeEHNRE3k6zKO0dM_HEsm1-SHUtKKg5X0CwdS0oqDlfQLNpi7wIfJmDjGN38ih5Nf7F1vm3Fsspp2XjeWeOclQlF&_nc_ohc=tdo0ccaLvMgAX-SLbMV&_nc_ht=scontent.fmnl17-2.fna&oh=03_AdQIVDNlQcZ0uRRFo8khXgK5WADcVt9-XVPUDI_thn1x6Q&oe=658C3AC0" height="50" widht="50" />
        </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/bhw/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/purok">Purok</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/profiling">Profiling</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/household">Household</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/health-monitor">Health Monitor</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/medicine-record">Medicines</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/archive">Archive</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<main style="margin-top: 80px;">@Body</main>