@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg fixed-top bg-white clean-navbar navbar-light">
    <div class="container">
        <a class="navbar-brand logo" href="#">Logo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/bhw/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/purok">Purok</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/profiling">Profiling</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/household">Household</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/health-monitor">Health Monitor</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/medicine-record">Medicines</a></li>
                <li class="nav-item"><a class="nav-link" href="/bhw/archive">Archive</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<main style="margin-top: 80px;">@Body</main>