<div class="card d-lg-flex" style="height: 200px;">
    <div class="card-body d-flex d-lg-flex flex-column justify-content-lg-center">
        <div class="d-lg-flex justify-content-lg-start align-items-lg-center">
            @ChildContent
            <h3>@Name</h3>
        </div>
        <h2 class="text-center text-muted card-subtitle mb-2">@Count</h2>
        @{
            int progressInt = Progress.HasValue ? (int)Progress.Value : 0;
        }
        <div class="progress">
            <div class="progress-bar bg-danger" aria-valuenow="@progressInt" aria-valuemin="0" aria-valuemax="100" style="width: @progressInt%;"><span class="visually-hidden">@progressInt%</span></div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public String? Name { get; set; }

    [Parameter]
    public double? Progress { get; set; }

    [Parameter]
    public int? Count { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}