

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Purok @Name</h4>
        <p class="card-text">@Description</p>
        <a class="btn btn-primary" href="@stringurl" style="width: 100%;height: 100%;"><strong>View @Name</strong></a>
    </div>
</div>

@code {
    [Parameter]
    public String? Name { get; set; }

    [Parameter]
    public String? Description { get; set; }

    [Parameter]
    public String? stringurl { get; set; }
}
