@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg fixed-top bg-white clean-navbar navbar-light">
    <div class="container">
        <a class="navbar-brand logo" href="/secretary/">
            <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.15752-9/351149569_176634541761202_1757419244402688520_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeEHNRE3k6zKO0dM_HEsm1-SHUtKKg5X0CwdS0oqDlfQLNpi7wIfJmDjGN38ih5Nf7F1vm3Fsspp2XjeWeOclQlF&_nc_ohc=OrCwR5DjnM0AX-A0gV0&_nc_ht=scontent.fmnl17-2.fna&oh=03_AdQ8yBoWbZWuqvUsEp85zTxOPKCbZ7gEjRMecwAzEale9w&oe=65B4A8C0" height="50" widht="50" />
        </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/secretary/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/purok-list">Purok</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/profiling">Profiling</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/residents">Residents</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/household-list">Household</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/status">Status</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/archive-list">Archive</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<main style="margin-top: 80px;">@Body</main>