@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg fixed-top bg-white clean-navbar navbar-light">
    <div class="container">
        <a class="navbar-brand logo" href="/secretary/">
            <img src="https://media.discordapp.net/attachments/1175024429626052658/1204668208070791168/received_2015597025462557.jpg?ex=65d591b2&is=65c31cb2&hm=1dd0fe59de82984ff1b236912b6ba32d4b2d3f542f969922a6995d531d136022&=&format=webp&width=388&height=388" height="50" widht="50" />
        </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/secretary/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/purok-list">Purok</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/profiling">Profiling</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/residents">Residents</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/household-list">Household</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/status">Vices</a></li>
                <li class="nav-item"><a class="nav-link" href="/secretary/archive-list">Archive</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<main style="margin-top: 80px;">@Body</main>