@inject Context context
@inject NavigationManager NavigationManager

<tr>
    <td class="text-truncate" style="max-width: 200px;">@Name</td>
    <td class="text-truncate" style="max-width: 200px;">@Type</td>
    <td class="text-truncate" style="max-width: 200px;">@Date</td>
    <td>
        <div class="btn-group" role="group">
            <button class="btn btn-primary" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-eye-fill fs-3">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                </svg>
            </button><button class="btn btn-primary" type="button" style="background: var(--red);" @onclick="UnArchiveData">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash-fill fs-3">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                </svg>
            </button>
        </div>
    </td>
</tr>

@code {
    [Parameter]
    public String? Name { get; set; }

    [Parameter]
    public int     ID   { get; set; }

    [Parameter]
    public String Type { get; set; } = "";

    [Parameter]
    public String? Date { get; set; }

    private void UnArchiveData()
    {
        context.UnArchive(ID, Type);
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);   
    }
}
